/* Imports */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;600&display=swap');

/* My 'resets' */
* {
  font-family: 'JetBrains Mono', monospace;
}

/* Normal Reset */
*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  font-size: 100%;
  list-style-type: none;
}
